version: 2

jobs:
  e2e-test:
    # We use machine executor as docker executor won't allow mounting of folders.
    machine:
      image: ubuntu-1604:201903-01 # Note: There is an overhead for provisioning a machine executor as a result of spinning
      # up a private Docker server. Use of the machine key may require additional fees in a future pricing update.
    resource_class: large

    working_directory: ~/hypertrace
    steps:
      - checkout
      - run: |
          cd ./docker
          docker-compose -f docker-compose.yml -f docker-compose-zipkin-example.yml pull
          docker-compose -f docker-compose.yml -f docker-compose-zipkin-example.yml up -d || (docker-compose -f docker-compose.yml -f docker-compose-zipkin-example.yml logs; exit 1)
      - run: |
          cd ./docker
          sleep 60 # you can decrease it but never increase it
          docker-compose -f docker-compose.yml ps
          docker-compose -f docker-compose.yml images
          docker-compose logs raw-spans-grouper
      - run: |
          .circleci/tests.sh

workflows:
  version: 2
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - main
    jobs:
      - e2e-test
  commit:
    jobs:
      - e2e-test
