version: '2.4'
services:
  # Generate traffic by hitting http://localhost:8081
  frontend:
    container_name: frontend
    image: openzipkin/example-brave:armeria
    command: frontend
    environment: 
        - BRAVE_SUPPORTS_JOIN=false
    ports:
      - 8081:8081
    depends_on:
      backend:
        condition: service_started
  backend:
    container_name: backend
    image: openzipkin/example-brave:armeria
    command: backend
    environment: 
        - BRAVE_SUPPORTS_JOIN=false
