apiVersion: v2
name: hypertrace-services
description: Hypertrace Distributed Tracing Platform - helm chart

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 0.1.0

# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
appVersion: 0.1.0

dependencies:
  - name: hypertrace-oc-collector
    repository: "https://storage.googleapis.com/hypertrace-helm-charts"
    version: 0.1.7
  - name: span-normalizer
    repository: "https://storage.googleapis.com/hypertrace-helm-charts"
    version: 0.5.6
  - name: raw-spans-grouper
    repository: "https://storage.googleapis.com/hypertrace-helm-charts"
    version: 0.5.6
  - name: hypertrace-trace-enricher
    repository: "https://storage.googleapis.com/hypertrace-helm-charts"
    version: 0.5.6
  - name: hypertrace-view-generator
    repository: "https://storage.googleapis.com/hypertrace-helm-charts"
    version: 0.5.6
  - name: hypertrace-ui
    repository: "https://storage.googleapis.com/hypertrace-helm-charts"
    version: 0.69.3
  - name: hypertrace-graphql-service
    repository: "https://storage.googleapis.com/hypertrace-helm-charts"
    version: 0.7.3
  - name: gateway-service
    repository: "https://storage.googleapis.com/hypertrace-helm-charts"
    version: 0.1.55
    condition: merge-query-services.disabled
  - name: query-service
    repository: "https://storage.googleapis.com/hypertrace-helm-charts"
    version: 0.5.4
    condition: merge-query-services.disabled
  - name: entity-service
    repository: "https://storage.googleapis.com/hypertrace-helm-charts"
    version: 0.5.10
    condition: merge-query-services.disabled
  - name: attribute-service
    repository: "https://storage.googleapis.com/hypertrace-helm-charts"
    version: 0.9.10
    condition: merge-query-services.disabled
  - name: config-service
    repository: "https://storage.googleapis.com/hypertrace-helm-charts"
    version: 0.1.2
    condition: merge-query-services.disabled
  - name: hypertrace-data-config-service
    repository: "https://storage.googleapis.com/hypertrace-helm-charts"
    version: 0.2.0
    condition: merge-query-services.enabled
  - name: hypertrace-data-query-service
    repository: "https://storage.googleapis.com/hypertrace-helm-charts"
    version: 0.2.0
    condition: merge-query-services.enabled
  - name: kafka-topic-creator
    repository: "https://storage.googleapis.com/hypertrace-helm-charts"
    version: 0.1.7
    condition: kafka-topic-creator.enabled
