apiVersion: v2
name: hypertrace-services
description: Hypertrace Distributed Tracing Platform - helm chart

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 0.1.0

# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
appVersion: 0.1.0

dependencies:
  - name: kafka
    repository: "https://storage.googleapis.com/hypertrace-helm-charts"
    version: 0.1.8
  - name: zookeeper
    repository: "https://storage.googleapis.com/hypertrace-helm-charts"
    version: 0.1.2
  - name: pinot
    repository: "https://storage.googleapis.com/hypertrace-helm-charts"
    version: 0.2.9
  - name: schema-registry
    repository: "https://storage.googleapis.com/hypertrace-helm-charts"
    version: 0.1.5
  - name: mongodb
    repository: "https://storage.googleapis.com/hypertrace-helm-charts"
    version: 0.1.2
    condition: mongodb.enabled
  - name: postgresql
    repository: "https://charts.bitnami.com/bitnami"
    version: 10.2.6
    condition: postgresql.enabled
