name: e2e test
on:
  push:
    paths:
      - 'docker/**'
      - '.github/**'
  pull_request:
  # workflow_dispatch will let us manually trigger the workflow from GitHub actions dashboard.
  # See https://docs.github.com/en/free-pro-team@latest/actions/managing-workflow-runs/manually-running-a-workflow 
  workflow_dispatch:
  create:

jobs:
  build-on-linux:
    strategy:
      matrix:
        docker-version: [19.03]
    runs-on: ubuntu-latest
    name: Build and run Docker images
    steps:
      - name: Update Packages
        run: sudo apt-get update -yqq --fix-missing
      - name: Install Docker
        uses: docker-practice/actions-setup-docker@master
        with:
          docker_version: ${{ matrix.docker-version }}
          docker_buildx: false
      - name: Cache docker
        uses: actions/cache@v1
        with:
          path: ~/.docker
          key: ${{ runner.os }}-docker-${{ hashFiles('**/Dockerfile') }}
          restore-keys: ${{ runner.os }}-docker
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Install JDK
        uses: actions/setup-java@v1
        with:
          java-version: 14
      - name: Verify hypertrace image
        working-directory: docker
        run: |
          docker-compose -f docker-compose.yml -f docker-compose-zipkin-example.yml pull
          docker-compose -f docker-compose.yml -f docker-compose-zipkin-example.yml up -d || { ../.github/workflows/inspect.sh ; exit 1 ; }
      - name: Waits for some stability
        working-directory: docker
        run: |
          sleep 60 # you can decrease it but never increase it
          docker-compose -f docker-compose.yml ps
      - name: Runs tests
        working-directory: ./.github/workflows/
        run: ./tests.sh